##################################################################################
# Command line Example:
# C:\wrimsv2_SG\bin\runConfig_limitedXA.bat D:\example\EXISTING_BO.config
# 
# Note:
# 1. This config file and the RUN directory must be placed in the same directory.
# 2. Use relative path to increase the portability.
#    For example, use RUN\main.wresl for MainFile and DSS\INIT.dss for InitFile
##################################################################################


MainFile           D:\_WSIDI_Offset_Sensitivity\GROUP6\1_DCR2015_Base_FutureNoCC_20150218_1.2_Offset\CONV\Run\mainCONV_SA.wresl
Solver             XA
DvarFile           D:\_WSIDI_Offset_Sensitivity\GROUP6\1_DCR2015_Base_FutureNoCC_20150218_1.2_Offset\CONV\DSS\DCR2015_base_20150218_1.2Offset_DV
SvarFile           D:\_WSIDI_Offset_Sensitivity\GROUP6\1_DCR2015_Base_FutureNoCC_20150218_1.2_Offset\common\DSS\2020D09ESV.dss
GroundwaterDir     D:\_WSIDI_Offset_Sensitivity\GROUP6\1_DCR2015_Base_FutureNoCC_20150218_1.2_Offset\\
SvarAPart          CALSIM
SvarFPart          2020D09E
InitFile           D:\_WSIDI_Offset_Sensitivity\GROUP6\1_DCR2015_Base_FutureNoCC_20150218_1.2_Offset\common\DSS\2020D09EINIT.DSS
InitFPart          2020D09E
TimeStep           1MON
StartYear          1921
StartMonth         10
StartDay           31
StopYear           2003
StopMonth          9
StopDay            30
IlpLog             No
IlpLogFormat       None
IlpLogVarValue     No
WreslPlus          no
